

<% cache @press_clippings do %>
	<h1 id="press_header">
		Press, Blurbs, Blogs, Buzz, Tales, Talk
	</h1>

	<% @press_clippings.each do |clipping| %>
	<div class="press">
		<h2>
			<%= clipping.title %>
		</h2>
	
		<p>
			<%= image_tag(clipping.cover(:medium)) %>
	
			<%= clipping.teaser %>
			<%= link_to " ...Read More", object_url(clipping) if !clipping.content.blank? %>

			<% if !clipping.url.blank? %>
				<%= link_to 'view the entire article', clipping.url, :target => :blank, :class => 'full_article' %>
			<% end %>
	
			<% if clipping.pdf.exists? %>
				<%= link_to 'Download Article', clipping.pdf.url, :target => :blank, :class => 'download_pdf' %>
			<% end %>
		</p>
	</div>
	<% end %>
<% end %>



