
<% cache @press_clipping do %>
	<p>
		<%= @press_clipping.title %><br /><br />
		<%= image_tag(@press_clipping.cover(:medium), :align => 'right') %>
	
		<%= @press_clipping.content %>

		<% if !@press_clipping.url.blank? %>
		 <br /><br />
			<%= link_to 'view the entire article', @press_clipping.url, :target => :blank %>
		<% end %>
	
		<% if @press_clipping.pdf %>
		 <br /><br />
			<%= link_to 'Download PDF', @press_clipping.pdf.url, :target => :blank %>
		<% end %>
	</p>
	<p><%= link_to "Back to list", collection_url %></p>
<% end %>



